.RelatedProductMainContainer {
  padding: 0 100px;
  @media(max-width: 991px){
      padding: 0 50px;
  }
  // .RelatedProductHeader {
  //   text-align: center;
  //   margin: 50px 0 0;
  //   border: 1px solid white;
  //   position: relative;
  // }
  // .RelatedProductHeaderText {
  //   font-size: 40px;
  //   font-weight: 600;
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
  //   background-color: rgb(28, 33, 30);
  //   padding: 0 20px;
  // }
  .RelatedProductsTextInner{
   
  }
  .RelatedProductCards {
    padding-top: 4rem;
    display: flex;
    // flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    .RelatedProductCard{
        // width: 100%;
    }
    .ImageProductImg {
      max-width: 100%;
      height: auto;
      display: block;
    }
  }
}
