.form4 {
  padding: 200px 0 0;
  .form4_inner {
    display: flex;
    .wrapper {
      display: flex;
      width: 70%;
      position: relative;
      padding: 20px 20px 20px 0;
      background-color: rgba(217, 217, 217, 0.2);
      &.show {
        .form4_wrap {
          width: 100%;
          opacity: 1;
          height: 100%;
        }
        .btn {
          display: none;
        }
      }
      .image {
        width: 100%;
        img {
          display: block;
          width: 100%;
          object-fit: cover;
         
        }
      }
      .form4_wrap {
        // width: 0;
        // opacity: 0;
        // height: 100%;
        transition: all 1s;
      }
      .btn {
        position: absolute;
        right: -60px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
      }
    }
    .right_image{
      width: 30%;
      img{
        width: 100%;
        display: block;
        opacity: 0.2;
        object-fit: cover;
        height: 100%;
      }
    }
  }
}
