@import "../../app/variables.scss";

.about_laminate {
  padding: 300px 104px 180px 104px;
  @media screen and (max-width:768px) {
    padding: 100px 50px 180px 50px;
  }
  .wrapper {
    display: flex;
    justify-content: space-around;
    @media screen and (max-width:768px) {
      flex-direction: column;
    }
    .left {
      width: 30%;
      // padding: 72px 100px 0 0;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      @media screen and (max-width:768px) {
        width: 100%;
      }
      .heading_text {
        @media screen and (max-width:768px) {
          width: 100%;
        }
        .heading {
          width: 430px;
          font-size: 86px;
          line-height: 86%;
          text-align: left;
          margin: 0 0 68px 0px;
          /* padding-right: 50px; */
          color: #fff;
          text-transform: capitalize;

          @media screen and (max-width:768px) {
            margin-top: 40px;
          }
          @media screen and (max-width : 486px){
            font-size: 50px;
          }
        }
        .text {
          // width: 426px;
          font-size: 20px;
          line-height: 25px;
          // margin-left: auto;
          color: $white2;
          margin-bottom: 30px;
          text-align: justify;
        }
      }
      .bottom_text {
        display: flex;
        // justify-content: space-between;
        gap: 10px;
        .right_text {
          font-size: 20px;
          line-height: 25px;
          width: 284px;
          color: $white2;
        }
      }
    }
    .right {
      position: relative;
      width: 50%;
      @media screen and (max-width:768px) {
        width: 100%;
      }
      .right_aboutus{
        position: absolute;
        font-size: 120px;
        transform: translate(58%,-90px);
        @media screen and (max-width:768px) {
          font-size: 80px;
          transform: translate(30%,-60px);
        }
        @media screen and (max-width:1024px){
          font-size: 70px;
        }
      }
      .scroll_down{
        position: absolute;
        bottom: 0px;
        transform: translate(0px,100px);
        font-size: larger;
        @media screen and (max-width:768px) {
          transform: translate(0px,700px);
        }
        @media screen and (max-width : 385px){
          transform: translate(0px 800px);
        }
      }
      .left_text {
        font-size: 20px;
        line-height: 25px;
        width: 90px;
        color: $white2;
        text-transform: uppercase;
        margin-top: 40px;
      }
      .right_image {
        img {
          max-width: 100%;
          display: block;
          width: 100%;
        }
      }
    }
  }
}
