@import "../../app/variables.scss";

.about_laminate {
  padding: 300px 50px 180px 50px;

  @media (max-width : 746px) {
    padding: 300px 20px 180px 77px;
  }

  @media (max-width:475px) {
    padding: 300px 30px 180px 30px;
  }

  .laminate-wrapper {
    display: flex;
    gap: 2rem;

    @media (max-width:1025px) {
      display: flex;
      gap: 6rem;
    }

    @media (max-width :746px) {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    .laminate-left {
      position: relative;
      width: 60%;

      .left_image {
        display: block;
        max-width: 100%;
        height: auto;
      }

      @media (max-width : 746px) {
        width: 100%;
      }

      .left_aboutus {
        position: absolute;
        font-size: 80px;
        left: 180px;
        top: -60px;

        @media (max-width:991px) {
          left: 60px;
          top: -60px;
        }

        @media (max-width : 475px) {
          top: -60px;
          left: 85px;
        }
      }

      .scroll_down {
        font-size: 23px;
        padding: 10px 0 0 0;
        cursor: pointer;

        @media (max-width:746px) {
          display: none;
        }
      }
    }

    .laminate-right {
      width: 40%;
      display: flex;
      flex-direction: column;
      gap: 10rem;

      @media (max-width : 1025px) {
        gap: 5rem;
      }

      @media (max-width : 746px) {
        width: 100%;
        gap: 2rem;
      }

      .heading {
        // width: 430px;
        font-size: 64px;
        line-height: 86%;
        text-align: left;
        padding: 0 0 20px 0px;
        color: #fff;
        letter-spacing: 5px;
      }

      .text {
        font-size: 20px;
        line-height: 25px;
        color: $white2;
        padding: 20px 0 0 0;
      }

      .bottom_text {
        display: flex;
        gap: 10px;
        width: 400px;

        .right_text {
          font-size: 20px;
          line-height: 25px;
          color: $white2;
        }

        @media (max-width :991px) {
          width: 265px;
        }

        @media (max-width:746px) {
          width: 300px;
        }

        @media (max-width : 475px) {
          width: 300px;
        }

        @media (max-width : 329px) {
          width: 200px;
        }
      }
    }
  }

  .scrollDown {
    display: none;

    @media (max-width : 746px) {
      display: block;
      font-size: 23px;
      padding: 10px 0 0 0;
      cursor: pointer;
    }
  }
}