@import "../../app/variables.scss";
@import "../../fonts/fonts.scss";

.shadow_heading {
    position: relative;
  .shadow_heading_text {
    font-family: "futura_medium";
    letter-spacing: 10%;
    &.shadow {
        color: rgba(89, 89, 89, 0.35);
    }
    &.normal {
        color: $white;
        position: absolute;
        top: 20px;
        left: 20px;
    }
  }
}
