$bg:rgba(28, 33, 30, 1);
$white: #fff;
$black: #000;
$yellow:rgba(254, 197, 84, 1);
$font15:15px;
$weightLight:300;
$weightRegular:400;
$weightMedium:500;
$weightSemiBold:600;
$weightBold:700;
.Form_Page{
    display: flex;
    justify-content: space-between;
    padding: 30px 30px;
    background: #1c211e;
    @media screen and (max-width:768px) {
        flex-direction: column;
        gap: 4rem;
    }
}
