@import "../../app/variables.scss";

.about_Establishment {
    color: black;
    background-color: #D9D9D9 !important;
    padding: 60px 0px 35px 10px;
    @media only screen and (min-width: 992px) {
        padding: 60px 0px 35px 10px;
    }

    @media (max-width : 575px) {
        padding: 0;
    }

    .Establishment_Wrapper {
        margin: auto;
        display: flex;
        justify-content: space-between;
        gap: 3rem;
        

        @media (max-width : 768px) {
            display: flex;
            flex-direction: column;
        }
    }
    
    .left {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 40%;
        position: relative;
        z-index: 1;
        background-size: cover;
        background: url("../../images//Group\ 6.png") no-repeat;
        padding: 0 90px;

        @media (max-width : 768px) {
            width: 100%;
            padding: 0 110px;
        }

        @media screen and (max-width : 475px) {
            width: 100%;
            padding: 0 40px;
        }

        @media (max-width : 329px) {
            width: 100%;
            padding: 0;
        }
        .icon {
            max-width: 100%;
            display: block;
            height: auto;
        }
    
        .icon_heading {
            font-weight: bold;
            font-size: 35px;
            text-transform: uppercase;
            letter-spacing: 5px;


            
        }
    
        .box {
            display: flex;
            flex-direction: column;
    
            .year {
                font-size: 50px;
                font-weight: bold;
                transition: color 0.3s, font-weight 0.3s, font-size 0.3s;
            }
    
            .other-years {
                font-size: 2rem;
                color: #999;
                padding: 4rem;
                
                p{
                    padding: 10px;
                }
            }
        }
    }
    
    .right {
        width: 60%;
        @media (max-width : 768px) {
            width: 100%;
        }
        .TimeLine_Image {
            max-width: 100%;
            height: auto;
            display: block;
        }

        .Text-block {
            padding-top: 40px;
            font-size: 21px;
            width: 90%;

            @media screen and (max-width : 768px) {
                padding: 10px;
            }
        }
    }
}