.big_image_with_social {
  .wrapper {
    .big_image {
      position: relative;
      img {
        max-width: 100%;
        display: block;
        width: 100% !important;
        object-fit: cover;
      }
      .logo {
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translateY(-50%);
        @media (max-width: 1199px) {
          left: 20%;
        }
        @media (max-width: 991px) {
          left: 15%;
        }
        @media (max-width: 575px) {
          left: 20px;
        }
        img {
          max-width: 100%;
          display: block;
          object-fit: contain;
          @media (max-width: 991px) {
            width: 250px !important;
          }
        }
      }
    }
  }
}
