@import "../../app/variables.scss";

a.linkHover  {
  color: $white;
  text-decoration: none;
  text-transform: uppercase;
  color: $black;
  position: relative;
  transition: all 0.2s;
  overflow: hidden;
  position: relative;
  display: inline-block;
  height: 20px;
  &:hover{
    span{
      transform: translateY(-20px);
      overflow: hidden;
    }
  }
  span{
    display: block;
    transition: all 0.5s;
  }
  &::before {
    content: "";
    position: absolute;
    bottom: -5px;
    width: 100%;
    height: 1px;
    background-color: $black;
    transform: scale(0);
    transition: all 0.4s;
  }
  &.white {
    &::before {
      background-color: $white;
    }
  }
  &:hover::before {
    transform: scale(1);
  }
}
