@import "../../app/variables.scss";

a.linkHover  {
  color: $white;
  text-decoration: none;
  text-transform: uppercase;
  color: $black;
  position: relative;
  transition: all 0.1s ease-in-out;
  overflow: hidden;
  position: relative;
  display: inline-block;
  height: 20px;
  &:hover{
    span{
      transform: translateY(-20px);
      overflow: hidden;
    }
  }
  span{
    display: block;
    transition: all 0.5s;
  }
 
}
