:root {
    --text-color: #111;
    --bg-color: #b9b3a9;
  }
  
  .slidermain {
    font-family: termina, sans-serif;
    color: var(--text-color);
    transition: 0.3s ease-out;
    overflow-x: hidden;
    max-width: 100%;
    width: 100%;
    overscroll-behavior: none;
    overflow-y: scroll;
    overflow-y: visible;
    position: relative;
    overflow-x: hidden;
  }
  
  .container {
    position: relative;
  }
  
  section:not(#sectionPin) {
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
    padding: 50px 10vw;
    margin: auto;
    place-items: center;
  }
  
  .imgsss {
    height: 80vh;
    width: auto;
    object-fit: cover;
  }
  
  #sectionPin {
    height: 100vh;
    overflow: hidden;
    display: flex;
    left: 0;
    background: var(--text-color);
    color: var(--bg-color);
  }
  
  .pinWrap {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 50px 10vw;
  }
  
  .pinWrap > * {
    min-width: 60vw;
    padding: 0 5vw;
  }
  
  .credit {
    font-family: Termina, sans-serif;
  }
  
  .credit a {
    color: var(--text-color);
  }
  