
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
.number-display {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 150px;
    overflow: hidden;
    font-size: 60px;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 20%;
    box-sizing: border-box;
    margin-right: 10px;
    position: relative;
}

.number-display div {
    height: 60px;
    transition: transform 0.3s;
}

.container {
    display: flex;
    padding: 0px;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    overflow: hidden;
    position: relative;
}

.scroll-container {
    display: flex;
    transition: transform 0.5s ease;
}

.card {
    display: inline-block;
    background: white;
    border-radius: 10px;
  
    margin: 10px;
    height: 300px;
    flex: 0 0 auto;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


}
